/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  font-size: 20px;
  font-family: 'PT Serif', cursive;
  color: #181818;
}

/*navbar styles*/
.navbar {
  background-color: #181818;
}

.navbar-brand {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #e8e8e8;
  letter-spacing: .05em;
}

#navbar{
  float: right;
}

.nav li {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #e8e8e8;
}

/*hero styles*/
#hero-container {
  position: relative;
  width: 100%;
}

#hero {
  position: relative;
  z-index: -1;
  width: 100%;
  margin: 0px;
  top: 50px;
}

#hero-mobile {
  display: none;
}

 #sub-block {
   padding: 32px;
   background-color: #181c47;
   color: #ffffff;
   font-family: 'PT Sans', sans-serif;
   font-size: 24px;
   text-align: center;
   margin-top: 50px;
   font-weight: 700;
   width: 100%;
 }

 /*content block styles*/
a {
  color: #181818;
}

a:hover {
  color: #272c68;
  text-decoration: none;
}

 .block {
   width: 100%;
   background-color: #ffffff;
   padding-top: 80px;
   padding-bottom: 80px;
 }

 .map {
   width: 35%;
   position: absolute;
   left: 15px;
   margin-top: -130px;
 }

.block-dateline {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #272c68;
  letter-spacing: .1em;
}

.block-headline {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1em;
}

.block-lede {
  font-size: 20px;
}

.block-more {
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.block-img {
  width: 100%;
}

.line {
  height: 1px;
  background-color: #a7a9ac;
}

/*check back*/
#check-back {
  width: 100%;
  background-color: #272c68;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  padding-top: 75px;
  padding-bottom: 75px;

}

#check-title {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

#check-text {
  color: #e6e7e8;
  font-size: 20px;
  margin-bottom: 25px;
}

/*button*/
.btn {
  margin: 10px;
}

/*sponsors*/
#sponsor-box {
  background-color: #181818;
}

#sponsors {
  margin-left: 400px;
}

.sponsor {
  height: 60px;
  margin: 15px;
}

/*ARTICLE PAGE*/
.article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.article-headline {
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}

.caption {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}

.byline {
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.image-block {
  border-top: 1px solid #a7a9ac;
  border-bottom: 1px solid #a7a9ac;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-block {
  background-color: #e6e7e8;
  border: 2px solid #e6e7e8;
}

.video-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
}

/*ABOUT PAGE*/
.partners {
  width: 100%;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.partners-tag {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #272c68;
  letter-spacing: .1em;
  margin-top: 75px;
  margin-bottom: -25px;
}

/*media queries*/
@media only screen and (max-width: 1199px) and (min-width: 992px) {
   .block {
     padding-top: 60px;
     padding-bottom: 60px;
   }
   #sub-block {
     font-size: 22px;
     padding: 30px;
   }
   .block-headline {
     font-size: 25px;
   }
   .block-lede {
     font-size: 18px;
   }
   .block-dateline {
     font-size: 17px;
   }
 }

 @media only screen and (max-width: 991px) and (min-width: 768px) {
   .block {
     padding-top: 50px;
     padding-bottom: 50px;
   }
   #sub-block {
     font-size: 20px;
     padding: 20px;
   }
   .block-headline {
     font-size: 23px;
   }
   .block-lede {
     font-size: 16px;
   }
   .block-dateline {
     font-size: 16px;
   }
   #check-back {
     padding-top: 55px;
     padding-bottom: 55px;
   }
   #check-title {
     font-size: 20px;
   }
   #check-text {
     font-size: 18px;
   }
 }

 @media only screen and (max-width: 767px) {
   #hero-container {
     padding-bottom: 50px;
   }
   #hero {
     display: none;
   }
   #hero-mobile {
     display: block;
     position: relative;
     z-index: -1;
     width: 100%;
     margin: 0px;
     top: 50px;
   }
   .block {
     padding-top: 40px;
     padding-bottom: 40px;
   }
    #sub-block {
      margin-top: 0px;
      font-size: 18px;
      padding: 20px;
    }
    .block-headline {
      font-size: 20px;
    }
    .block-lede {
      font-size: 16px;
    }
    .block-dateline {
      font-size: 15px;
    }
    .block-more {
      font-size: 16px;
      margin-bottom: 25px;
    }
    #check-back {
      padding: 35px;
    }
    #check-title {
      font-size: 19px;
    }
    #check-text {
      font-size: 17px;
    }
 }
