/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  font-size: 20px;
  font-family: 'PT Serif', cursive;
}

.navbar {
  background-color: #000000;
}

.header {
  margin-top: 300px;
  font-family: 'PT Serif', sans-serif;
  font-size: 48px;
  font-weight: 700;
}
 .sub {
  font-family: 'PT Sans', serif;
  font-size: 22px;
  max-width: 600px;
  margin-top: 15px;
 }
