/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  font-size: 20px;
  font-family: 'PT Serif', cursive;
}

/*navbar styles*/
.navbar {
  background-color: #000000;
}

#navbar{
  float: right;
}

.navbar-brand {
  font-weight: 700;
}

.nav li {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/*hero styles*/
#hero-container {
  position: relative;
  width: 100%;
}

#hero {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin: 0px;
}

#hero-title {
  position: relative;
  width: 80%;
  margin-left: 10%;
  padding-top: 160px;
  margin-bottom: 125px;
  color: #ffffff;
  max-width: 800px;
}

#headline {
  font-family: 'PT Sans', sans-serif;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: .8em;

}
 #subhead {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  line-height: .8em;
  margin-top: 15px;
 }

 #sub-block {
   padding: 50px;
   background-color: #171a3d;
   color: #ffffff;
   font-family: 'PT Sans';
 }

 /*content block styles*/
a {
  color: #000000;
}

a:hover {
  color: #272c68;
}

 .block {
   width: 100%;
   background-color: #ffffff;
   padding-top: 100px;
   padding-bottom: 100px;
 }

 .map {
   width: 35%;
   position: absolute;
   left: 15px;
   margin-top: -130px;
 }

.block-dateline {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #272c68;
  letter-spacing: .1em;
}

.block-headline {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-more {
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.block-img {
  width: 100%;
}

.line {
  height: 1px;
  background-color: #a7a9ac;
}

/*check back*/
#check-back {
  width: 100%;
  background-color: #272c68;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  padding-top: 75px;
  padding-bottom: 75px;

}

#check-title {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

#check-text {
  color: #e6e7e8;
  margin-bottom: 25px;
}

/*button*/
.btn {
  margin: 10px;
}

/*sponsors*/
#sponsor-box {
  background-color: #000000;
}

#sponsors {
  margin-left: 400px;
}

.sponsor {
  height: 60px;
  margin: 15px;
}

/*ARTICLE PAGE*/
.article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.article-headline {
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}

.caption {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}

.byline {
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.image-block {
  border-top: 1px solid #a7a9ac;
  border-bottom: 1px solid #a7a9ac;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-block {
  background-color: #e6e7e8;
  border: 2px solid #e6e7e8;
}

.video-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
}

/*ABOUT PAGE*/
.partners {
  width: 100%;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.partners-tag {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #272c68;
  letter-spacing: .1em;
  margin-top: 75px;
  margin-bottom: -25px;
}

/*media queries*/
@media only screen and (max-width: 1349px) and (min-width: 1200px) {
   #hero-title {
     padding-top: 150px;
     margin-bottom: 150px;
   }
 }

 @media only screen and (max-width: 1199px) and (min-width: 992px) {
   #hero-title {
     padding-top: 125px;
     margin-bottom: 125px;
   }
 }

 @media only screen and (max-width: 991px) and (min-width: 768px) {
   #hero-title {
     padding-top: 125px;
     margin-bottom: 100px;
   }
   #headline {
     font-size: 36px;
     line-height: 1.1em;
   }
   #subhead {
     font-size: 20px;
   }
 }

 @media only screen and (max-width: 767px) {
   #hero-container {
     background-color: #272c68;
     padding-bottom: 50px;
   }

   #hero {
     display: none;
   }
   #hero-title {
     color: #000000;
     padding-top: 100px;
     margin-bottom: 30px;
     color: #ffffff;
   }
   #headline {
     font-size: 32px;
     line-height: .8em;
   }
   #subhead {
     font-size: 18px;
     line-height: 1.2em;
   }
   .block {
     padding-top: 50px;
     padding-bottom: 50px;
   }
 }
